* {
  box-sizing: border-box;
}

.rightAlign {
  text-align: center;
  
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


header {
  padding: 12% 0;

}

.superTop {
margin-top:100px;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #fff;
}

.portrait {
width:60%;
max-width:400px;
margin: auto;
}

.aboutClass {
max-width: 666px;
margin: auto;
}

.projectPics {
margin-top:10px;
margin-bottom:10px;
width: 240px;
}

.theHeader {
color: hotpink;
max-width: 400px;
margin: auto;
}

@media only screen and (min-width: 600px) {
  .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  }

  .project {
  width: 70%;
  height: 70%
  }

  .projectPics {
  width:333px;
  }

  .rightAlign {
  text-align: right;
  margin-right: 20px;
  }
}

